{
  "openapi": "3.0.3",
  "info": {
    "title": "Herd Trails API",
    "description": "Trails API for the Herd platform",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://trails-api.herd.eco",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header",
        "description": "Enter your bearer token in the format **Bearer <token>**"
      }
    },
    "schemas": {

    }
  },
  "paths": {
    "/v1/trails/{trailId}/versions/{versionId}/executions/{executionId}": {
      "get": {
        "parameters": [
          {
            "description": "UUIDv7 string",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "in": "path",
            "name": "trailId",
            "required": true
          },
          {
            "description": "UUIDv7 string",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "in": "path",
            "name": "versionId",
            "required": true
          },
          {
            "description": "UUIDv7 string",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "in": "path",
            "name": "executionId",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Execution details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "UUIDv7 string",
                      "format": "uuid",
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string"
                    },
                    "steps": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "stepNumber": {
                            "type": "number"
                          },
                          "nodeId": {
                            "type": "string",
                            "format": "uuid",
                            "description": "UUIDv7 string",
                            "nullable": true
                          },
                          "txHash": {
                            "pattern": "^0x[a-fA-F0-9]{64}$",
                            "type": "string"
                          },
                          "txBlockTimestamp": {
                            "type": "number",
                            "nullable": true
                          },
                          "txBlockNumber": {
                            "type": "number",
                            "nullable": true
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "evaluation": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "finalInputValues": {
                                "type": "object",
                                "additionalProperties": {
                                  "type": "string"
                                }
                              },
                              "contractAddress": {
                                "pattern": "^0x[a-fA-F0-9]{40}$",
                                "type": "string"
                              }
                            },
                            "required": [
                              "finalInputValues",
                              "contractAddress"
                            ]
                          }
                        },
                        "required": [
                          "stepNumber",
                          "nodeId",
                          "txHash",
                          "txBlockTimestamp",
                          "txBlockNumber",
                          "createdAt",
                          "evaluation"
                        ]
                      }
                    }
                  },
                  "required": [
                    "id",
                    "createdAt",
                    "updatedAt",
                    "steps"
                  ]
                }
              },
              "multipart/form-data": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "UUIDv7 string",
                      "format": "uuid",
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string"
                    },
                    "steps": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "stepNumber": {
                            "type": "number"
                          },
                          "nodeId": {
                            "type": "string",
                            "format": "uuid",
                            "description": "UUIDv7 string",
                            "nullable": true
                          },
                          "txHash": {
                            "pattern": "^0x[a-fA-F0-9]{64}$",
                            "type": "string"
                          },
                          "txBlockTimestamp": {
                            "type": "number",
                            "nullable": true
                          },
                          "txBlockNumber": {
                            "type": "number",
                            "nullable": true
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "evaluation": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "finalInputValues": {
                                "type": "object",
                                "additionalProperties": {
                                  "type": "string"
                                }
                              },
                              "contractAddress": {
                                "pattern": "^0x[a-fA-F0-9]{40}$",
                                "type": "string"
                              }
                            },
                            "required": [
                              "finalInputValues",
                              "contractAddress"
                            ]
                          }
                        },
                        "required": [
                          "stepNumber",
                          "nodeId",
                          "txHash",
                          "txBlockTimestamp",
                          "txBlockNumber",
                          "createdAt",
                          "evaluation"
                        ]
                      }
                    }
                  },
                  "required": [
                    "id",
                    "createdAt",
                    "updatedAt",
                    "steps"
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "UUIDv7 string",
                      "format": "uuid",
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string"
                    },
                    "steps": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "stepNumber": {
                            "type": "number"
                          },
                          "nodeId": {
                            "type": "string",
                            "format": "uuid",
                            "description": "UUIDv7 string",
                            "nullable": true
                          },
                          "txHash": {
                            "pattern": "^0x[a-fA-F0-9]{64}$",
                            "type": "string"
                          },
                          "txBlockTimestamp": {
                            "type": "number",
                            "nullable": true
                          },
                          "txBlockNumber": {
                            "type": "number",
                            "nullable": true
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "evaluation": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "finalInputValues": {
                                "type": "object",
                                "additionalProperties": {
                                  "type": "string"
                                }
                              },
                              "contractAddress": {
                                "pattern": "^0x[a-fA-F0-9]{40}$",
                                "type": "string"
                              }
                            },
                            "required": [
                              "finalInputValues",
                              "contractAddress"
                            ]
                          }
                        },
                        "required": [
                          "stepNumber",
                          "nodeId",
                          "txHash",
                          "txBlockTimestamp",
                          "txBlockNumber",
                          "createdAt",
                          "evaluation"
                        ]
                      }
                    }
                  },
                  "required": [
                    "id",
                    "createdAt",
                    "updatedAt",
                    "steps"
                  ]
                }
              }
            }
          }
        },
        "operationId": "getV1TrailsByTrailIdVersionsByVersionIdExecutionsByExecutionId",
        "tags": [
          "Trails"
        ]
      }
    },
    "/v1/trails/{trailId}/versions/{versionId}/executions/": {
      "post": {
        "parameters": [
          {
            "description": "UUIDv7 string",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "in": "path",
            "name": "trailId",
            "required": true
          },
          {
            "description": "UUIDv7 string",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "in": "path",
            "name": "versionId",
            "required": true
          }
        ],
        "operationId": "postV1TrailsByTrailIdVersionsByVersionIdExecutions",
        "tags": [
          "Trails"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nodeId": {
                    "description": "UUIDv7 string",
                    "format": "uuid",
                    "type": "string"
                  },
                  "transactionHash": {
                    "pattern": "^0x[a-fA-F0-9]{64}$",
                    "type": "string"
                  },
                  "walletAddress": {
                    "pattern": "^0x[a-fA-F0-9]{40}$",
                    "type": "string"
                  },
                  "execution": {
                    "default": {
                      "type": "latest"
                    },
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "enum": ["new"],
                            "type": "string"
                          }
                        },
                        "required": [
                          "type"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "enum": ["latest"],
                            "type": "string"
                          }
                        },
                        "required": [
                          "type"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "enum": ["manual"],
                            "type": "string"
                          },
                          "executionId": {
                            "description": "UUIDv7 string",
                            "format": "uuid",
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "executionId"
                        ]
                      }
                    ]
                  }
                },
                "required": [
                  "nodeId",
                  "transactionHash",
                  "walletAddress",
                  "execution"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "nodeId": {
                    "description": "UUIDv7 string",
                    "format": "uuid",
                    "type": "string"
                  },
                  "transactionHash": {
                    "pattern": "^0x[a-fA-F0-9]{64}$",
                    "type": "string"
                  },
                  "walletAddress": {
                    "pattern": "^0x[a-fA-F0-9]{40}$",
                    "type": "string"
                  },
                  "execution": {
                    "default": {
                      "type": "latest"
                    },
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "enum": ["new"],
                            "type": "string"
                          }
                        },
                        "required": [
                          "type"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "enum": ["latest"],
                            "type": "string"
                          }
                        },
                        "required": [
                          "type"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "enum": ["manual"],
                            "type": "string"
                          },
                          "executionId": {
                            "description": "UUIDv7 string",
                            "format": "uuid",
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "executionId"
                        ]
                      }
                    ]
                  }
                },
                "required": [
                  "nodeId",
                  "transactionHash",
                  "walletAddress",
                  "execution"
                ]
              }
            },
            "text/plain": {
              "schema": {
                "type": "object",
                "properties": {
                  "nodeId": {
                    "description": "UUIDv7 string",
                    "format": "uuid",
                    "type": "string"
                  },
                  "transactionHash": {
                    "pattern": "^0x[a-fA-F0-9]{64}$",
                    "type": "string"
                  },
                  "walletAddress": {
                    "pattern": "^0x[a-fA-F0-9]{40}$",
                    "type": "string"
                  },
                  "execution": {
                    "default": {
                      "type": "latest"
                    },
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "enum": ["new"],
                            "type": "string"
                          }
                        },
                        "required": [
                          "type"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "enum": ["latest"],
                            "type": "string"
                          }
                        },
                        "required": [
                          "type"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "enum": ["manual"],
                            "type": "string"
                          },
                          "executionId": {
                            "description": "UUIDv7 string",
                            "format": "uuid",
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "executionId"
                        ]
                      }
                    ]
                  }
                },
                "required": [
                  "nodeId",
                  "transactionHash",
                  "walletAddress",
                  "execution"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Execution step created successfully"
          }
        }
      }
    },
    "/v1/trails/{trailId}/versions/{versionId}/executions/query": {
      "post": {
        "parameters": [
          {
            "description": "UUIDv7 string",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "in": "path",
            "name": "trailId",
            "required": true
          },
          {
            "description": "UUIDv7 string",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "in": "path",
            "name": "versionId",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Execution query results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totals": {
                      "type": "object",
                      "properties": {
                        "transactions": {
                          "type": "number"
                        },
                        "wallets": {
                          "type": "number"
                        },
                        "stepStats": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "object",
                            "properties": {
                              "wallets": {
                                "type": "number"
                              },
                              "transactions": {
                                "type": "number"
                              },
                              "transactionHashes": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "farcasterData": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "username": {
                                          "type": "string"
                                        },
                                        "pfp_url": {
                                          "type": "string",
                                          "nullable": true
                                        },
                                        "display_name": {
                                          "type": "string"
                                        },
                                        "fid": {
                                          "type": "number"
                                        },
                                        "bio": {
                                          "type": "string",
                                          "nullable": true
                                        },
                                        "followers": {
                                          "type": "number"
                                        },
                                        "following": {
                                          "type": "number"
                                        }
                                      },
                                      "required": [
                                        "username",
                                        "pfp_url",
                                        "display_name",
                                        "fid",
                                        "bio",
                                        "followers",
                                        "following"
                                      ]
                                    },
                                    "walletAddress": {
                                      "pattern": "^0x[a-fA-F0-9]{40}$",
                                      "type": "string"
                                    },
                                    "txHash": {
                                      "pattern": "^0x[a-fA-F0-9]{64}$",
                                      "type": "string"
                                    },
                                    "blockTimestamp": {
                                      "type": "number"
                                    },
                                    "blockNumber": {
                                      "type": "number"
                                    },
                                    "latestExecutionId": {
                                      "description": "UUIDv7 string",
                                      "format": "uuid",
                                      "type": "string"
                                    },
                                    "evaluation": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "finalInputValues": {
                                          "type": "object",
                                          "additionalProperties": {
                                            "type": "string"
                                          }
                                        },
                                        "contractAddress": {
                                          "pattern": "^0x[a-fA-F0-9]{40}$",
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "finalInputValues",
                                        "contractAddress"
                                      ]
                                    }
                                  },
                                  "required": [
                                    "farcasterData",
                                    "walletAddress",
                                    "txHash",
                                    "blockTimestamp",
                                    "blockNumber",
                                    "latestExecutionId",
                                    "evaluation"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "wallets",
                              "transactions",
                              "transactionHashes"
                            ]
                          }
                        }
                      },
                      "required": [
                        "transactions",
                        "wallets",
                        "stepStats"
                      ]
                    },
                    "walletExecutions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "walletAddress": {
                            "pattern": "^0x[a-fA-F0-9]{40}$",
                            "type": "string"
                          },
                          "farcasterData": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "username": {
                                "type": "string"
                              },
                              "pfp_url": {
                                "type": "string",
                                "nullable": true
                              },
                              "display_name": {
                                "type": "string"
                              },
                              "fid": {
                                "type": "number"
                              },
                              "bio": {
                                "type": "string",
                                "nullable": true
                              },
                              "followers": {
                                "type": "number"
                              },
                              "following": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "username",
                              "pfp_url",
                              "display_name",
                              "fid",
                              "bio",
                              "followers",
                              "following"
                            ]
                          },
                          "executions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "description": "UUIDv7 string",
                                  "format": "uuid",
                                  "type": "string"
                                },
                                "createdAt": {
                                  "type": "string"
                                },
                                "updatedAt": {
                                  "type": "string"
                                },
                                "steps": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "stepNumber": {
                                        "type": "number"
                                      },
                                      "nodeId": {
                                        "type": "string",
                                        "format": "uuid",
                                        "description": "UUIDv7 string",
                                        "nullable": true
                                      },
                                      "txHash": {
                                        "pattern": "^0x[a-fA-F0-9]{64}$",
                                        "type": "string"
                                      },
                                      "txBlockTimestamp": {
                                        "type": "number",
                                        "nullable": true
                                      },
                                      "txBlockNumber": {
                                        "type": "number",
                                        "nullable": true
                                      },
                                      "createdAt": {
                                        "type": "string"
                                      },
                                      "evaluation": {
                                        "type": "object",
                                        "nullable": true,
                                        "properties": {
                                          "finalInputValues": {
                                            "type": "object",
                                            "additionalProperties": {
                                              "type": "string"
                                            }
                                          },
                                          "contractAddress": {
                                            "pattern": "^0x[a-fA-F0-9]{40}$",
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "finalInputValues",
                                          "contractAddress"
                                        ]
                                      }
                                    },
                                    "required": [
                                      "stepNumber",
                                      "nodeId",
                                      "txHash",
                                      "txBlockTimestamp",
                                      "txBlockNumber",
                                      "createdAt",
                                      "evaluation"
                                    ]
                                  }
                                }
                              },
                              "required": [
                                "id",
                                "createdAt",
                                "updatedAt",
                                "steps"
                              ]
                            }
                          },
                          "txnsPerStep": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "txHash": {
                                    "pattern": "^0x[a-fA-F0-9]{64}$",
                                    "type": "string"
                                  },
                                  "blockTimestamp": {
                                    "type": "number"
                                  },
                                  "blockNumber": {
                                    "type": "number"
                                  },
                                  "latestExecutionId": {
                                    "description": "UUIDv7 string",
                                    "format": "uuid",
                                    "type": "string"
                                  },
                                  "evaluation": {
                                    "type": "object",
                                    "nullable": true,
                                    "properties": {
                                      "finalInputValues": {
                                        "type": "object",
                                        "additionalProperties": {
                                          "type": "string"
                                        }
                                      },
                                      "contractAddress": {
                                        "pattern": "^0x[a-fA-F0-9]{40}$",
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "finalInputValues",
                                      "contractAddress"
                                    ]
                                  }
                                },
                                "required": [
                                  "txHash",
                                  "blockTimestamp",
                                  "blockNumber",
                                  "latestExecutionId",
                                  "evaluation"
                                ]
                              }
                            }
                          }
                        },
                        "required": [
                          "walletAddress",
                          "farcasterData",
                          "executions",
                          "txnsPerStep"
                        ]
                      }
                    }
                  },
                  "required": [
                    "totals",
                    "walletExecutions"
                  ]
                }
              },
              "multipart/form-data": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totals": {
                      "type": "object",
                      "properties": {
                        "transactions": {
                          "type": "number"
                        },
                        "wallets": {
                          "type": "number"
                        },
                        "stepStats": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "object",
                            "properties": {
                              "wallets": {
                                "type": "number"
                              },
                              "transactions": {
                                "type": "number"
                              },
                              "transactionHashes": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "farcasterData": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "username": {
                                          "type": "string"
                                        },
                                        "pfp_url": {
                                          "type": "string",
                                          "nullable": true
                                        },
                                        "display_name": {
                                          "type": "string"
                                        },
                                        "fid": {
                                          "type": "number"
                                        },
                                        "bio": {
                                          "type": "string",
                                          "nullable": true
                                        },
                                        "followers": {
                                          "type": "number"
                                        },
                                        "following": {
                                          "type": "number"
                                        }
                                      },
                                      "required": [
                                        "username",
                                        "pfp_url",
                                        "display_name",
                                        "fid",
                                        "bio",
                                        "followers",
                                        "following"
                                      ]
                                    },
                                    "walletAddress": {
                                      "pattern": "^0x[a-fA-F0-9]{40}$",
                                      "type": "string"
                                    },
                                    "txHash": {
                                      "pattern": "^0x[a-fA-F0-9]{64}$",
                                      "type": "string"
                                    },
                                    "blockTimestamp": {
                                      "type": "number"
                                    },
                                    "blockNumber": {
                                      "type": "number"
                                    },
                                    "latestExecutionId": {
                                      "description": "UUIDv7 string",
                                      "format": "uuid",
                                      "type": "string"
                                    },
                                    "evaluation": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "finalInputValues": {
                                          "type": "object",
                                          "additionalProperties": {
                                            "type": "string"
                                          }
                                        },
                                        "contractAddress": {
                                          "pattern": "^0x[a-fA-F0-9]{40}$",
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "finalInputValues",
                                        "contractAddress"
                                      ]
                                    }
                                  },
                                  "required": [
                                    "farcasterData",
                                    "walletAddress",
                                    "txHash",
                                    "blockTimestamp",
                                    "blockNumber",
                                    "latestExecutionId",
                                    "evaluation"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "wallets",
                              "transactions",
                              "transactionHashes"
                            ]
                          }
                        }
                      },
                      "required": [
                        "transactions",
                        "wallets",
                        "stepStats"
                      ]
                    },
                    "walletExecutions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "walletAddress": {
                            "pattern": "^0x[a-fA-F0-9]{40}$",
                            "type": "string"
                          },
                          "farcasterData": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "username": {
                                "type": "string"
                              },
                              "pfp_url": {
                                "type": "string",
                                "nullable": true
                              },
                              "display_name": {
                                "type": "string"
                              },
                              "fid": {
                                "type": "number"
                              },
                              "bio": {
                                "type": "string",
                                "nullable": true
                              },
                              "followers": {
                                "type": "number"
                              },
                              "following": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "username",
                              "pfp_url",
                              "display_name",
                              "fid",
                              "bio",
                              "followers",
                              "following"
                            ]
                          },
                          "executions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "description": "UUIDv7 string",
                                  "format": "uuid",
                                  "type": "string"
                                },
                                "createdAt": {
                                  "type": "string"
                                },
                                "updatedAt": {
                                  "type": "string"
                                },
                                "steps": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "stepNumber": {
                                        "type": "number"
                                      },
                                      "nodeId": {
                                        "type": "string",
                                        "format": "uuid",
                                        "description": "UUIDv7 string",
                                        "nullable": true
                                      },
                                      "txHash": {
                                        "pattern": "^0x[a-fA-F0-9]{64}$",
                                        "type": "string"
                                      },
                                      "txBlockTimestamp": {
                                        "type": "number",
                                        "nullable": true
                                      },
                                      "txBlockNumber": {
                                        "type": "number",
                                        "nullable": true
                                      },
                                      "createdAt": {
                                        "type": "string"
                                      },
                                      "evaluation": {
                                        "type": "object",
                                        "nullable": true,
                                        "properties": {
                                          "finalInputValues": {
                                            "type": "object",
                                            "additionalProperties": {
                                              "type": "string"
                                            }
                                          },
                                          "contractAddress": {
                                            "pattern": "^0x[a-fA-F0-9]{40}$",
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "finalInputValues",
                                          "contractAddress"
                                        ]
                                      }
                                    },
                                    "required": [
                                      "stepNumber",
                                      "nodeId",
                                      "txHash",
                                      "txBlockTimestamp",
                                      "txBlockNumber",
                                      "createdAt",
                                      "evaluation"
                                    ]
                                  }
                                }
                              },
                              "required": [
                                "id",
                                "createdAt",
                                "updatedAt",
                                "steps"
                              ]
                            }
                          },
                          "txnsPerStep": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "txHash": {
                                    "pattern": "^0x[a-fA-F0-9]{64}$",
                                    "type": "string"
                                  },
                                  "blockTimestamp": {
                                    "type": "number"
                                  },
                                  "blockNumber": {
                                    "type": "number"
                                  },
                                  "latestExecutionId": {
                                    "description": "UUIDv7 string",
                                    "format": "uuid",
                                    "type": "string"
                                  },
                                  "evaluation": {
                                    "type": "object",
                                    "nullable": true,
                                    "properties": {
                                      "finalInputValues": {
                                        "type": "object",
                                        "additionalProperties": {
                                          "type": "string"
                                        }
                                      },
                                      "contractAddress": {
                                        "pattern": "^0x[a-fA-F0-9]{40}$",
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "finalInputValues",
                                      "contractAddress"
                                    ]
                                  }
                                },
                                "required": [
                                  "txHash",
                                  "blockTimestamp",
                                  "blockNumber",
                                  "latestExecutionId",
                                  "evaluation"
                                ]
                              }
                            }
                          }
                        },
                        "required": [
                          "walletAddress",
                          "farcasterData",
                          "executions",
                          "txnsPerStep"
                        ]
                      }
                    }
                  },
                  "required": [
                    "totals",
                    "walletExecutions"
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totals": {
                      "type": "object",
                      "properties": {
                        "transactions": {
                          "type": "number"
                        },
                        "wallets": {
                          "type": "number"
                        },
                        "stepStats": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "object",
                            "properties": {
                              "wallets": {
                                "type": "number"
                              },
                              "transactions": {
                                "type": "number"
                              },
                              "transactionHashes": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "farcasterData": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "username": {
                                          "type": "string"
                                        },
                                        "pfp_url": {
                                          "type": "string",
                                          "nullable": true
                                        },
                                        "display_name": {
                                          "type": "string"
                                        },
                                        "fid": {
                                          "type": "number"
                                        },
                                        "bio": {
                                          "type": "string",
                                          "nullable": true
                                        },
                                        "followers": {
                                          "type": "number"
                                        },
                                        "following": {
                                          "type": "number"
                                        }
                                      },
                                      "required": [
                                        "username",
                                        "pfp_url",
                                        "display_name",
                                        "fid",
                                        "bio",
                                        "followers",
                                        "following"
                                      ]
                                    },
                                    "walletAddress": {
                                      "pattern": "^0x[a-fA-F0-9]{40}$",
                                      "type": "string"
                                    },
                                    "txHash": {
                                      "pattern": "^0x[a-fA-F0-9]{64}$",
                                      "type": "string"
                                    },
                                    "blockTimestamp": {
                                      "type": "number"
                                    },
                                    "blockNumber": {
                                      "type": "number"
                                    },
                                    "latestExecutionId": {
                                      "description": "UUIDv7 string",
                                      "format": "uuid",
                                      "type": "string"
                                    },
                                    "evaluation": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "finalInputValues": {
                                          "type": "object",
                                          "additionalProperties": {
                                            "type": "string"
                                          }
                                        },
                                        "contractAddress": {
                                          "pattern": "^0x[a-fA-F0-9]{40}$",
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "finalInputValues",
                                        "contractAddress"
                                      ]
                                    }
                                  },
                                  "required": [
                                    "farcasterData",
                                    "walletAddress",
                                    "txHash",
                                    "blockTimestamp",
                                    "blockNumber",
                                    "latestExecutionId",
                                    "evaluation"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "wallets",
                              "transactions",
                              "transactionHashes"
                            ]
                          }
                        }
                      },
                      "required": [
                        "transactions",
                        "wallets",
                        "stepStats"
                      ]
                    },
                    "walletExecutions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "walletAddress": {
                            "pattern": "^0x[a-fA-F0-9]{40}$",
                            "type": "string"
                          },
                          "farcasterData": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "username": {
                                "type": "string"
                              },
                              "pfp_url": {
                                "type": "string",
                                "nullable": true
                              },
                              "display_name": {
                                "type": "string"
                              },
                              "fid": {
                                "type": "number"
                              },
                              "bio": {
                                "type": "string",
                                "nullable": true
                              },
                              "followers": {
                                "type": "number"
                              },
                              "following": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "username",
                              "pfp_url",
                              "display_name",
                              "fid",
                              "bio",
                              "followers",
                              "following"
                            ]
                          },
                          "executions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "description": "UUIDv7 string",
                                  "format": "uuid",
                                  "type": "string"
                                },
                                "createdAt": {
                                  "type": "string"
                                },
                                "updatedAt": {
                                  "type": "string"
                                },
                                "steps": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "stepNumber": {
                                        "type": "number"
                                      },
                                      "nodeId": {
                                        "type": "string",
                                        "format": "uuid",
                                        "description": "UUIDv7 string",
                                        "nullable": true
                                      },
                                      "txHash": {
                                        "pattern": "^0x[a-fA-F0-9]{64}$",
                                        "type": "string"
                                      },
                                      "txBlockTimestamp": {
                                        "type": "number",
                                        "nullable": true
                                      },
                                      "txBlockNumber": {
                                        "type": "number",
                                        "nullable": true
                                      },
                                      "createdAt": {
                                        "type": "string"
                                      },
                                      "evaluation": {
                                        "type": "object",
                                        "nullable": true,
                                        "properties": {
                                          "finalInputValues": {
                                            "type": "object",
                                            "additionalProperties": {
                                              "type": "string"
                                            }
                                          },
                                          "contractAddress": {
                                            "pattern": "^0x[a-fA-F0-9]{40}$",
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "finalInputValues",
                                          "contractAddress"
                                        ]
                                      }
                                    },
                                    "required": [
                                      "stepNumber",
                                      "nodeId",
                                      "txHash",
                                      "txBlockTimestamp",
                                      "txBlockNumber",
                                      "createdAt",
                                      "evaluation"
                                    ]
                                  }
                                }
                              },
                              "required": [
                                "id",
                                "createdAt",
                                "updatedAt",
                                "steps"
                              ]
                            }
                          },
                          "txnsPerStep": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "txHash": {
                                    "pattern": "^0x[a-fA-F0-9]{64}$",
                                    "type": "string"
                                  },
                                  "blockTimestamp": {
                                    "type": "number"
                                  },
                                  "blockNumber": {
                                    "type": "number"
                                  },
                                  "latestExecutionId": {
                                    "description": "UUIDv7 string",
                                    "format": "uuid",
                                    "type": "string"
                                  },
                                  "evaluation": {
                                    "type": "object",
                                    "nullable": true,
                                    "properties": {
                                      "finalInputValues": {
                                        "type": "object",
                                        "additionalProperties": {
                                          "type": "string"
                                        }
                                      },
                                      "contractAddress": {
                                        "pattern": "^0x[a-fA-F0-9]{40}$",
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "finalInputValues",
                                      "contractAddress"
                                    ]
                                  }
                                },
                                "required": [
                                  "txHash",
                                  "blockTimestamp",
                                  "blockNumber",
                                  "latestExecutionId",
                                  "evaluation"
                                ]
                              }
                            }
                          }
                        },
                        "required": [
                          "walletAddress",
                          "farcasterData",
                          "executions",
                          "txnsPerStep"
                        ]
                      }
                    }
                  },
                  "required": [
                    "totals",
                    "walletExecutions"
                  ]
                }
              }
            }
          }
        },
        "operationId": "postV1TrailsByTrailIdVersionsByVersionIdExecutionsQuery",
        "tags": [
          "Trails"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "walletAddresses": {
                    "type": "array",
                    "items": {
                      "pattern": "^0x[a-fA-F0-9]{40}$",
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "walletAddresses"
                ],
                "additionalProperties": false
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "walletAddresses": {
                    "type": "array",
                    "items": {
                      "pattern": "^0x[a-fA-F0-9]{40}$",
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "walletAddresses"
                ],
                "additionalProperties": false
              }
            },
            "text/plain": {
              "schema": {
                "type": "object",
                "properties": {
                  "walletAddresses": {
                    "type": "array",
                    "items": {
                      "pattern": "^0x[a-fA-F0-9]{40}$",
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "walletAddresses"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/v1/trails/{trailId}/versions/{versionId}/steps/{stepNumber}/evaluations/": {
      "post": {
        "parameters": [
          {
            "description": "UUIDv7 string",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "in": "path",
            "name": "trailId",
            "required": true
          },
          {
            "description": "UUIDv7 string",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "in": "path",
            "name": "versionId",
            "required": true
          },
          {
            "schema": {
              "type": "number"
            },
            "in": "path",
            "name": "stepNumber",
            "required": true
          }
        ],
        "operationId": "postV1TrailsByTrailIdVersionsByVersionIdStepsByStepNumberEvaluations",
        "tags": [
          "Trails"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "execution": {
                    "default": {
                      "type": "latest"
                    },
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "enum": ["new"],
                            "type": "string"
                          }
                        },
                        "required": [
                          "type"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "enum": ["latest"],
                            "type": "string"
                          }
                        },
                        "required": [
                          "type"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "enum": ["manual"],
                            "type": "string"
                          },
                          "executionId": {
                            "description": "UUIDv7 string",
                            "format": "uuid",
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "executionId"
                        ]
                      }
                    ]
                  },
                  "walletAddress": {
                    "pattern": "^0x[a-fA-F0-9]{40}$",
                    "type": "string"
                  },
                  "userInputs": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "required": [
                          "value"
                        ]
                      }
                    }
                  }
                },
                "required": [
                  "execution",
                  "walletAddress",
                  "userInputs"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "execution": {
                    "default": {
                      "type": "latest"
                    },
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "enum": ["new"],
                            "type": "string"
                          }
                        },
                        "required": [
                          "type"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "enum": ["latest"],
                            "type": "string"
                          }
                        },
                        "required": [
                          "type"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "enum": ["manual"],
                            "type": "string"
                          },
                          "executionId": {
                            "description": "UUIDv7 string",
                            "format": "uuid",
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "executionId"
                        ]
                      }
                    ]
                  },
                  "walletAddress": {
                    "pattern": "^0x[a-fA-F0-9]{40}$",
                    "type": "string"
                  },
                  "userInputs": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "required": [
                          "value"
                        ]
                      }
                    }
                  }
                },
                "required": [
                  "execution",
                  "walletAddress",
                  "userInputs"
                ]
              }
            },
            "text/plain": {
              "schema": {
                "type": "object",
                "properties": {
                  "execution": {
                    "default": {
                      "type": "latest"
                    },
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "enum": ["new"],
                            "type": "string"
                          }
                        },
                        "required": [
                          "type"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "enum": ["latest"],
                            "type": "string"
                          }
                        },
                        "required": [
                          "type"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "enum": ["manual"],
                            "type": "string"
                          },
                          "executionId": {
                            "description": "UUIDv7 string",
                            "format": "uuid",
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "executionId"
                        ]
                      }
                    ]
                  },
                  "walletAddress": {
                    "pattern": "^0x[a-fA-F0-9]{40}$",
                    "type": "string"
                  },
                  "userInputs": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "required": [
                          "value"
                        ]
                      }
                    }
                  }
                },
                "required": [
                  "execution",
                  "walletAddress",
                  "userInputs"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Step evaluation completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "nodeType": {
                          "type": "string",
                          "enum": ["write_function"]
                        },
                        "finalInputValues": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        },
                        "args": {
                          "type": "array",
                          "items": {}
                        },
                        "payableAmount": {
                          "type": "string"
                        },
                        "contractAddress": {
                          "type": "string"
                        },
                        "callData": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "nodeType",
                        "finalInputValues",
                        "args",
                        "payableAmount",
                        "contractAddress",
                        "callData"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "nodeType": {
                          "type": "string",
                          "enum": ["swap"]
                        },
                        "finalInputValues": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        },
                        "swapSteps": {
                          "type": "object",
                          "properties": {
                            "approval": {
                              "type": "object",
                              "properties": {
                                "approvalRequired": {
                                  "type": "boolean"
                                },
                                "callData": {
                                  "type": "string"
                                },
                                "contractAddress": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "approvalRequired",
                                "callData",
                                "contractAddress"
                              ]
                            },
                            "swap": {
                              "type": "object",
                              "properties": {
                                "callData": {
                                  "type": "string"
                                },
                                "contractAddress": {
                                  "type": "string"
                                },
                                "payableAmount": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "callData",
                                "contractAddress",
                                "payableAmount"
                              ]
                            }
                          },
                          "required": [
                            "approval",
                            "swap"
                          ]
                        }
                      },
                      "required": [
                        "nodeType",
                        "finalInputValues",
                        "swapSteps"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/trails/{trailId}/versions/{versionId}/nodes/{nodeId}/read": {
      "post": {
        "parameters": [
          {
            "description": "UUIDv7 string",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "in": "path",
            "name": "trailId",
            "required": true
          },
          {
            "description": "UUIDv7 string",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "in": "path",
            "name": "versionId",
            "required": true
          },
          {
            "description": "UUIDv7 string",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "in": "path",
            "name": "nodeId",
            "required": true
          }
        ],
        "operationId": "postV1TrailsByTrailIdVersionsByVersionIdNodesByNodeIdRead",
        "tags": [
          "Trails"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "execution": {
                    "default": {
                      "type": "latest"
                    },
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "enum": ["new"],
                            "type": "string"
                          }
                        },
                        "required": [
                          "type"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "enum": ["latest"],
                            "type": "string"
                          }
                        },
                        "required": [
                          "type"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "enum": ["manual"],
                            "type": "string"
                          },
                          "executionId": {
                            "description": "UUIDv7 string",
                            "format": "uuid",
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "executionId"
                        ]
                      }
                    ]
                  },
                  "walletAddress": {
                    "pattern": "^0x[a-fA-F0-9]{40}$",
                    "type": "string"
                  },
                  "userInputs": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "required": [
                          "value"
                        ]
                      }
                    }
                  }
                },
                "required": [
                  "execution",
                  "walletAddress",
                  "userInputs"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "execution": {
                    "default": {
                      "type": "latest"
                    },
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "enum": ["new"],
                            "type": "string"
                          }
                        },
                        "required": [
                          "type"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "enum": ["latest"],
                            "type": "string"
                          }
                        },
                        "required": [
                          "type"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "enum": ["manual"],
                            "type": "string"
                          },
                          "executionId": {
                            "description": "UUIDv7 string",
                            "format": "uuid",
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "executionId"
                        ]
                      }
                    ]
                  },
                  "walletAddress": {
                    "pattern": "^0x[a-fA-F0-9]{40}$",
                    "type": "string"
                  },
                  "userInputs": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "required": [
                          "value"
                        ]
                      }
                    }
                  }
                },
                "required": [
                  "execution",
                  "walletAddress",
                  "userInputs"
                ]
              }
            },
            "text/plain": {
              "schema": {
                "type": "object",
                "properties": {
                  "execution": {
                    "default": {
                      "type": "latest"
                    },
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "enum": ["new"],
                            "type": "string"
                          }
                        },
                        "required": [
                          "type"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "enum": ["latest"],
                            "type": "string"
                          }
                        },
                        "required": [
                          "type"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "enum": ["manual"],
                            "type": "string"
                          },
                          "executionId": {
                            "description": "UUIDv7 string",
                            "format": "uuid",
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "executionId"
                        ]
                      }
                    ]
                  },
                  "walletAddress": {
                    "pattern": "^0x[a-fA-F0-9]{40}$",
                    "type": "string"
                  },
                  "userInputs": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "required": [
                          "value"
                        ]
                      }
                    }
                  }
                },
                "required": [
                  "execution",
                  "walletAddress",
                  "userInputs"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Node data read successfully"
          }
        }
      }
    }
  }
}